/* .header-bg{
    background: #1f8ef5;
    width: 100%;
    height: 100px;
}
aside {
    position: absolute;
    background: #f55c1f;
    padding: 0px 15px 0px 15px;
    width: 100%;
    height: 400px;
    left: 0px;
    z-index: 1;
}
.contern{
    background: #f59f1f;
    width: 100%;
    height: 500px;
    margin: 0px 0px 10px 0px;
}
.right-menu {
    float: left;
    position: absolute;
    background: #a71ff5;
    width: 100%;
    height: 400px;
    left: 0px;
}

@media screen and (max-width: 992px) {
    .right-menu {
        position: relative;
        height: 100px;
        margin-bottom: 10px;
    }
    aside {
        position: relative;
        margin-bottom: 10px;
    }
} */

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}